<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>Django Header</h1>
    <h2>Access Records</h2>
    <div class="djangtwo"></div>
        {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Data Accessed</th>
                </thead>

                {% for acc in access_records %}
                <tr>
                    <td>{{ acc.name }}</td>
                    <td>{{ acc.date }}</td>
                </tr>
                {% endfor %}
            </table>

        {% else %}
            <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}



</body>
</html>